.box {
  /* border: solid black 2px; */
  background: linear-gradient(120deg, white 5%, lightgreen);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  color: hotpink;
  font-size: 3em;
}
