.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url('../public/images/brick-background.png');
  background-repeat: repeat;
  height: 100vh;
}
